header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    box-shadow: 0rem 1px 5px 0px rgba(41, 41, 41, 0.5);
    z-index: 2;
    overflow: hidden;
    @include mobile-only {
        justify-content: flex-start;
        padding-left: 3rem;
        height: auto;
    }
    & > .gps {
        display: none;
        @include mobile-only {
            display: flex;
            margin-left: 3rem;
        }
    }
}  

footer {
    //border: 2px solid pink;
    background: rgb(36, 36, 36);
    width: 100%;
    height: 13rem;
    display: flex;
    align-items: center;
    @include mobile-only {
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
    }
}

footer a {
    //border: 2px solid red;
    text-decoration: none;
    color: white;
}
    
.proposer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    @include mobile-only {
        height: auto;
    }
}

.devenir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    @include mobile-only {
        height: auto;
    }
}

.contenu {
    //border: 2px solid yellow;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 15rem;
    line-height: 0rem;
    margin-left: 1rem;
    @include mobile-only {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto; 
        margin-right: 1rem;
    }
}

.titre_footer {
    filter: invert(1);
    width: 50%;
    //border: 2px solid red;
    position: relative;
    bottom: 1rem;
    @include mobile-only {
        width: auto;
        position: unset;
    }
}

.fa-utensils {
    transform: scale(0.75);
    margin-right: 1rem;
}

.fa-hands-helping {
    transform: scale(0.75);
    margin-right: 0.5rem;
}

footer nav {
    //border: 2px solid red;
    width: 100%;
    @include mobile-only {
        margin-top: 2rem;
    }
}


