header {
    //border: 3px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    box-shadow: 0px 5px 1px 0px rgba(41, 41, 41, 0.25);
    z-index: 1002;
    position: relative;
    overflow: hidden;
    @include larger-than-mobile {
        height: 3.2rem;
        z-index: 1002;
    }
    & > .gps {
        display: none;
    }
} 

header a {
    color: black;
}

footer {
    //border: 2px solid pink;
    background: rgb(36, 36, 36);
    height: 13rem;
    display: flex;
    @include larger-than-mobile {
        justify-content: center;
    }
}

footer a {
    //border: 2px solid red;
    text-decoration: none;
    color: white;
}
    
.proposer {
    display: flex;
    align-items: center;
    height: 24px;
}

.devenir {
    display: flex;
    align-items: center;
    height: 24px;
}

.contenu {
    //border: 2px solid yellow;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 15rem;
    line-height: 0rem;
    margin-left: 1rem;
    @include larger-than-mobile {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: auto; 
        height: auto;
        margin-right: 1rem;
    }
    & figure {
        //border: 2px solid blue;
        position: relative;
        right: 2.45rem;
        @include larger-than-mobile {
            bottom: 0rem;
        }
    }
}

.titre_footer {
    //border: 2px solid red;
    filter: invert(1);
    width: 62%;
    @include larger-than-mobile {
        width: auto;
    }
}

.fa-utensils {
    transform: scale(0.75);
    margin-right: 1rem;
}

.fa-hands-helping {
    transform: scale(0.75);
    margin-right: 0.5rem;
}

footer nav {
    //border: 2px solid red;
    width: 65%;
    @include larger-than-mobile {
        margin-top: 2rem;
    }
}




