@keyframes révélation {
    0% {
        height: 100%;
    }

    33% {
        height: 66%;
    }

    66% {
        height: 33%;
    }

    100% {
        height: 0%;
    }
}

@keyframes loader_durée {
    0% {
        transform: translateX(0px);
    }

    99% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(99999px);
    }
}

.animation {
    //border: 6px solid blue;
    height: 100%;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1020;
    background-color: white;
    animation: loader_durée 1750ms both;// 1750 ms
    @include larger-than-mobile {
        width: 100%;
    }
    & > .icônes_loader {
        //border: 3px solid green;
        width: 50%;
        transform: scale(1);
        display: flex;
        justify-content: center;
        align-items: center;
        & > img {
            z-index: 1001;
            transform: scale(2);
            @include larger-than-mobile {
                transform: scale(1);
            }
        }
        & > .bloc {
            //border: 2px solid black;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 40%;
            position: absolute;
            z-index: 1000;
            transform: scale(2);
            @include larger-than-mobile {
                transform: scale(1);
            }
        }  
    }
}

.bloc__couleur--green {
    height: 33%;
    background-color: $tertiaire;
}

.bloc__couleur--pink {
    height: 33%;
    background-color: $secondaire;
}

.bloc__couleur--purple {
    height: 33%;
    background-color: $primaire;
}

.bloc__couleur--white {
    //border: 2px solid black;
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    animation: révélation 750ms ease-in-out backwards;
    animation-iteration-count: 2; 
    animation-delay: 250ms;
}

.infos_localisation--header { // box contenant icône
    display: none;
    @include larger-than-mobile {
    //border: 3px solid turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    width: 375px;
    }
}

.infos_localisation--main {
    //border: 3px solid turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    width: 100%;
    @include larger-than-mobile {
        display: none;
    }
}

.fa-map-marker-alt { // icône de géolocalisation
    height: 20px;
    position: relative;
    right: 0.75rem;
}

.main_accueil {
    //border: 5px solid purple;
    flex-direction: column;
    align-items: center;
    @include larger-than-mobile {
    width: 65%;
    margin: auto;
    display: flex;
    }
}

.intro {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    & > h2 {
        //border: 2px solid red;
        text-align: center;
        width: 17rem;
        position: relative;
        top: 1rem;
        @include larger-than-mobile {
            width: 73%;
            transform: scale(1.25);
            }
    }
}

.description_et_bouton {
    //border: 2px solid green;
    text-align: center;
    background-color: $lightgrey;
    padding-bottom: 4rem;
    @include larger-than-mobile {
        justify-content: space-between;
        padding-bottom: 3rem;
    }
}

.description_et_bouton > p {
    //border: 2px solid red;
    font-size: 1.1rem;
    color:rgba(41, 41, 41, 0.75);
    @include larger-than-mobile {
        font-size: 1.5rem;
        width: 30rem;
    }
}

.fonctionnement {
    //border: 2px solid red;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include larger-than-mobile {
        align-items: center;
        padding-bottom: 3rem;
    }
    @include larger-than-larger {
        flex-direction: row;
        width: 120%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        overflow: visible;
    }
    & > h2 {
        //border: 2px solid purple;
        overflow: hidden;
        position: relative;
        @include larger-than-larger {
            display: flex;
            justify-content: center;
            padding-right: 50%;
            padding-left: 50%;
            transform: scale(1.25);
        }
    }
}


.étapes { // zone fonctionnement
    //border: 2px solid blue;
    display: flex;
    align-items: center;
    background-color: $lightgrey;
    margin: 1rem;
    border-radius: 25px 25px 25px 25px;
    height: 4rem;
    width: 19rem;
    position: relative;
    right: 0.85rem;
    @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 0.15));
        &:hover {
        cursor: pointer;
        background-color: rgba($color: $primaire, $alpha: 0.15);
        .fa-mobile-alt, .fa-bars, .fa-store {
            color: rgba($color: $primaire, $alpha: 1);
        }
    }
    @include larger-than-mobile {
        right: 0rem;
        width: 20rem;
        transform:scale(1.25);
    }
    @include larger-than-larger {
        width: 20%;
        transform:scale(1.5);
    }
}

.étapes h3, .fa-mobile-alt, .fa-bars, .fa-store { // disposition icônes et textes
    //border: 2px solid purple;
    height: auto;
    font-size: 1rem;
    padding-right: 1rem;
    font-family: 'robotomedium';
}

.fa-mobile-alt, .fa-bars, .fa-store {
    //border: 2px solid blue;
    color: rgba($color: #000000, $alpha: 0.5);
    margin-right: 0.25rem;
}

.petits_cercles { // numérotation dans le menu fonctionnement
    background-color: $primaire;
    color: white;
    font-size: 0.75rem;
    border-radius: 40px 40px 40px 40px;
    width:1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;   
    align-items: center;
    position: relative;
    right: 0.5rem;
    margin-right: 0.5rem;
}

.restaurants { // zone Restaurants
    //border: 2px solid blue;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: $lightgrey;
    flex-direction: column;
    overflow: hidden;
    @include larger-than-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: fit-content;
    }
    @include larger-than-larger {
        justify-content: space-between;
    }
    & > h2 {
        //border: 2px solid red;
        margin-bottom: 3rem;
        @include larger-than-mobile {
        padding-right: 100%;
        position: relative;
        left: 3%;
        bottom: 1rem;
        margin-bottom: 0rem;
        }
        @include larger-than-larger {
        transform: scale(1.25);
        left: 15%;
        padding-right: 100%;
        }
    }
}

.vignette a {
    //border: 2px solid purple;
    text-decoration: none;
    color: black;
    display: flex;
    width: 343px;
    height: 16rem;
    flex-direction: column;
    align-items: flex-end;
}

.vignette {
    //border: 1px solid red;
    transform: scale(1);
    margin-bottom: 1rem;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    background-color: white;
    width: fit-content;
    @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 0.15));
    @include larger-than-mobile {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    &__img {
        //border: 2px solid green;
        height: 14rem;
        position: relative;
        display: flex;
        bottom: 3rem;
        margin: 0%;
        @include larger-than-mobile {         
        }
        & > img {
            width: 100%;
        }
    }
    &__étiquette {
        width: 5rem;
        height: 2rem;
        font-size: 0.95rem;
        font-family: 'robotomedium', sans-serif;
        color: darken($color: $tertiaire, $amount: 35);
        background-color: $tertiaire;
        position: absolute; 
        margin-right: 1rem;
        margin-top: 1rem;
        z-index: 1015;        
        display: flex;
        align-items: center;
        justify-content: center;          
    }
    &__des {
        //border: 2px solid blue;
        width: 100%;
        position: relative;
        bottom: 2.5rem;
    }     
}

.nom_et_menu { 
    //border: 2px solid green;
    line-height: 0.5rem;
    padding-left: 1rem;
}

.coeur_accueil {
    //border: 2px solid orangered;
    cursor: pointer;
    position: absolute;
    right: -0.40rem;
    bottom: 0.5rem;
    width: 2rem;
    height: 2rem;
    & > img {
        z-index: 1015;
        position: absolute;
    }
    &:hover .bloc_couleur {
        //border: 2px solid green;
        @include couleur_coeur;
        width: 90%;
        height: 90%;
        position: absolute;
        z-index: 1014;
        transform:translateY(-1rem);
        transition: transform 1000ms;
        transform: scaleY(0.95);
        transform-origin: bottom;
        opacity: 100%;
        transition: transform 700ms, opacity 700ms;
    }
}



