.explore {
    background: linear-gradient(-10deg, $primaire, $secondaire);
    border-radius: 40px 40px 40px 40px;
    border: none;
    width: 65%;
    font-size: 1.1rem;
    color: white;
    font-family: 'Roboto Medium'; 
    @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 0.15));  
    &--commander {
        height: 3rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    &:hover {
        cursor: pointer;
        @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 1));
        @include fondu_blanc (white, 0.5);
    }
    @include mobile-only {
        height: 6rem;
        width: 30rem;
        font-size: 1.75rem;
    } 
}

.button_commander {
    display: flex;
    justify-content: center;
}

