.explore {
    background: linear-gradient(-10deg, $primaire, $secondaire);
    border-radius: 40px 40px 40px 40px;
    border: none;
    width: 60%;
    font-size: 1.05rem;
    color: white;
    font-family: 'Roboto Regular';
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    height: 3.5rem;
    @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 0.15));  
    &:hover {
        cursor: pointer;
        @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 1));
        @include fondu_blanc (white, 0.5);
    }
    @include mobile-only {
        height: 6rem;
        width: 25rem;
        font-size: 1.75rem;
    } 
}

.commander {
    border: 2px solid brown;
    background: linear-gradient(-10deg, $primaire, $secondaire);
    border-radius: 40px 40px 40px 40px;
    width: 50%;
    font-size: 1.05rem;
    color: white;
    font-family: 'Roboto Regular';
    margin-left: 23.5%;
    height: 3.5rem;
    margin-bottom: 2rem;
    @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 0.15));  
    &:hover {
        cursor: pointer;
        @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 1));
        @include fondu_blanc (white, 0.5);
    }
    @include mobile-only {
        height: 6rem;
        width: 60%;
        max-width: 262px;
        font-size: 1.75rem;
        margin-left: 0%;
    } 
}





