$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$lightgrey: #F6F6F6;

$française: "./Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg";

$breakpoints : (
    mobile: 667px,
    large-screen: 1430px
);



