@mixin dégradé {
    background: linear-gradient(-10deg, $primaire, $secondaire);
}

@mixin fondu_blanc ($color, $opacity) {
    color: $color;
    opacity: $opacity;
}

@mixin ombre_portée ($box-shadow) {
    box-shadow: $box-shadow;
}

@mixin img_française {
    background-image: url("./Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

@mixin couleur_coeur {
    background: linear-gradient(-90deg, $primaire, $secondaire);
    background: -moz-linear-gradient(-90deg, $primaire, $secondaire); 
    background: -webkit-linear-gradient(-90deg, $primaire, $secondaire);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}
