@mixin dégradé {
    background: linear-gradient(-10deg, $primaire, $secondaire);
}

@mixin fondu_blanc ($color, $opacity) {
    color: $color;
    opacity: $opacity;
}

@mixin ombre_portée ($box-shadow) {
    box-shadow: $box-shadow;
}

@mixin img_française {
    background-image: url("./Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

@mixin couleur_coeur {
    background: linear-gradient(-90deg, $primaire, $secondaire);
    background: -moz-linear-gradient(-90deg, $primaire, $secondaire); 
    background: -webkit-linear-gradient(-90deg, $primaire, $secondaire);
}

@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: map-get($breakpoints, large-screen)){
        @content;
    }
}

@mixin fondu_et_delay {
    //border: 2px solid blue;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    animation: apparition_fondu 1000ms backwards;
    animation-play-state: running;
    animation-delay: 500ms;
    @include ombre_portée (0px 10px 10px rgba($color: black, $alpha: 0.05));
    @include mobile-only {
        width: 19.25rem;
        height: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}