body {
    width: 375px;
    height: auto;
    margin: auto;
    //position: absolute;
    //padding: auto;
    font-family: 'Roboto', sans-serif;
    //display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    //border: 2px solid brown;
    z-index: 1000;
    position: relative;
    //animation: body 0ms 1250ms backwards;
    @include mobile-only {
        //border: 5px solid greenyellow;
        width: auto;
        height: 100%;
        justify-content: stretch;
        align-items: center;
    }
}

article {
    @include mobile-only {
        //border: 3px solid orange;
        width: 100%;
        height: auto;
        z-index: 1000;
    }
}

h2 {
    font-size: 1.5rem;
    @include mobile-only {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1rem;
    font-family: 'Roboto Medium';
}

h4 {
    font-size: 1rem;
    font-family: 'Roboto Medium';
}