body {
    width: 375px;
    height: auto;
    margin: auto;
    //position: absolute;
    //padding: auto;
    font-family: 'Roboto', sans-serif;
    //display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    //border: 2px solid brown;
    //z-index: 1003;
    //animation: body 0ms 1250ms backwards;
    @include mobile-only {
        //border: 5px solid greenyellow;
        width: auto;
        justify-content: stretch;
        align-items: center;
    }
}

main {
    @include mobile-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: darken($color: $lightgrey, $amount: 10);
    //border: 5px solid purple;
    width: 65%;
    margin: auto;
    height: auto;
    }
}

article {
    @include mobile-only {
        //border: 3px solid orange;
        width: 100%;
        height: auto;
    }
}

h1 {
    font-size: 1.5rem;
    @include mobile-only {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1rem;
    font-family: 'Roboto Medium';
}