@charset "UTF-8";
@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("Roboto-Light-webfont.eot");
  src: url("Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Light-webfont.woff2") format("woff2"), url("Roboto-Light-webfont.woff") format("woff"), url("Roboto-Light-webfont.ttf") format("truetype"), url("Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("Roboto-Medium-webfont.eot");
  src: url("Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Medium-webfont.woff2") format("woff2"), url("Roboto-Medium-webfont.woff") format("woff"), url("Roboto-Medium-webfont.ttf") format("truetype"), url("Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url("Roboto-Black-webfont.eot");
  src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Black-webfont.woff2") format("woff2"), url("Roboto-Black-webfont.woff") format("woff"), url("Roboto-Black-webfont.ttf") format("truetype"), url("Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("Roboto-Thin-webfont.eot");
  src: url("Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Thin-webfont.woff2") format("woff2"), url("Roboto-Thin-webfont.woff") format("woff"), url("Roboto-Thin-webfont.ttf") format("truetype"), url("Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  font-family: 'robotoregular', sans-serif;
  z-index: 1000;
  width: 375px;
}

@media screen and (min-width: 667px) {
  body {
    width: auto;
  }
}

@media screen and (min-width: 667px) {
  article {
    width: 100%;
    height: auto;
    z-index: 1000;
  }
}

h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 667px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
  font-family: 'robotomedium', sans-serif;
}

h4 {
  font-size: 1rem;
  font-family: 'robotomedium', sans-serif;
}

.explore {
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  border-radius: 40px 40px 40px 40px;
  border: none;
  font-size: 1.05rem;
  color: white;
  font-family: 'robotomedium', sans-serif;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 3.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.explore:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px black;
  color: white;
  opacity: 0.5;
}

@media screen and (min-width: 667px) {
  .explore {
    height: 6rem;
    width: 25rem;
    font-size: 1.75rem;
  }
}

.commander {
  border: none;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  border-radius: 40px 40px 40px 40px;
  width: 50%;
  font-size: 1.05rem;
  color: white;
  font-family: 'robotomedium', sans-serif;
  height: 3.5rem;
  margin-bottom: 2rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.commander:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px black;
  color: white;
  opacity: 0.5;
}

@media screen and (min-width: 667px) {
  .commander {
    height: 6rem;
    max-width: 262px;
    font-size: 1.75rem;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  box-shadow: 0px 5px 1px 0px rgba(41, 41, 41, 0.25);
  z-index: 1002;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 667px) {
  header {
    height: 3.2rem;
    z-index: 1002;
  }
}

header > .gps {
  display: none;
}

header a {
  color: black;
}

footer {
  background: #242424;
  height: 13rem;
  display: flex;
}

@media screen and (min-width: 667px) {
  footer {
    justify-content: center;
  }
}

footer a {
  text-decoration: none;
  color: white;
}

.proposer {
  display: flex;
  align-items: center;
  height: 24px;
}

.devenir {
  display: flex;
  align-items: center;
  height: 24px;
}

.contenu {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 15rem;
  line-height: 0rem;
  margin-left: 1rem;
}

@media screen and (min-width: 667px) {
  .contenu {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin-right: 1rem;
  }
}

.contenu figure {
  position: relative;
  right: 2.45rem;
}

@media screen and (min-width: 667px) {
  .contenu figure {
    bottom: 0rem;
  }
}

.titre_footer {
  filter: invert(1);
  width: 62%;
}

@media screen and (min-width: 667px) {
  .titre_footer {
    width: auto;
  }
}

.fa-utensils {
  transform: scale(0.75);
  margin-right: 1rem;
}

.fa-hands-helping {
  transform: scale(0.75);
  margin-right: 0.5rem;
}

footer nav {
  width: 65%;
}

@media screen and (min-width: 667px) {
  footer nav {
    margin-top: 2rem;
  }
}

@keyframes révélation {
  0% {
    height: 100%;
  }
  33% {
    height: 66%;
  }
  66% {
    height: 33%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader_durée {
  0% {
    transform: translateX(0px);
  }
  99% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(99999px);
  }
}

.animation {
  height: 100%;
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1020;
  background-color: white;
  animation: loader_durée 1750ms both;
}

@media screen and (min-width: 667px) {
  .animation {
    width: 100%;
  }
}

.animation > .icônes_loader {
  width: 50%;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation > .icônes_loader > img {
  z-index: 1001;
  transform: scale(2);
}

@media screen and (min-width: 667px) {
  .animation > .icônes_loader > img {
    transform: scale(1);
  }
}

.animation > .icônes_loader > .bloc {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 40%;
  position: absolute;
  z-index: 1000;
  transform: scale(2);
}

@media screen and (min-width: 667px) {
  .animation > .icônes_loader > .bloc {
    transform: scale(1);
  }
}

.bloc__couleur--green {
  height: 33%;
  background-color: #99E2D0;
}

.bloc__couleur--pink {
  height: 33%;
  background-color: #FF79DA;
}

.bloc__couleur--purple {
  height: 33%;
  background-color: #9356DC;
}

.bloc__couleur--white {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  animation: révélation 750ms ease-in-out backwards;
  animation-iteration-count: 2;
  animation-delay: 250ms;
}

.infos_localisation--header {
  display: none;
}

@media screen and (min-width: 667px) {
  .infos_localisation--header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    width: 375px;
  }
}

.infos_localisation--main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
}

@media screen and (min-width: 667px) {
  .infos_localisation--main {
    display: none;
  }
}

.fa-map-marker-alt {
  height: 20px;
  position: relative;
  right: 0.75rem;
}

.main_accueil {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 667px) {
  .main_accueil {
    width: 65%;
    margin: auto;
    display: flex;
  }
}

.intro {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.intro > h2 {
  text-align: center;
  width: 17rem;
  position: relative;
  top: 1rem;
}

@media screen and (min-width: 667px) {
  .intro > h2 {
    width: 73%;
    transform: scale(1.25);
  }
}

.description_et_bouton {
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 4rem;
}

@media screen and (min-width: 667px) {
  .description_et_bouton {
    justify-content: space-between;
    padding-bottom: 3rem;
  }
}

.description_et_bouton > p {
  font-size: 1.1rem;
  color: rgba(41, 41, 41, 0.75);
}

@media screen and (min-width: 667px) {
  .description_et_bouton > p {
    font-size: 1.5rem;
    width: 30rem;
  }
}

.fonctionnement {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 667px) {
  .fonctionnement {
    align-items: center;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 1430px) {
  .fonctionnement {
    flex-direction: row;
    width: 120%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    overflow: visible;
  }
}

.fonctionnement > h2 {
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1430px) {
  .fonctionnement > h2 {
    display: flex;
    justify-content: center;
    padding-right: 50%;
    padding-left: 50%;
    transform: scale(1.25);
  }
}

.étapes {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  margin: 1rem;
  border-radius: 25px 25px 25px 25px;
  height: 4rem;
  width: 19rem;
  position: relative;
  right: 0.85rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.étapes:hover {
  cursor: pointer;
  background-color: rgba(147, 86, 220, 0.15);
}

.étapes:hover .fa-mobile-alt, .étapes:hover .fa-bars, .étapes:hover .fa-store {
  color: #9356dc;
}

@media screen and (min-width: 667px) {
  .étapes {
    right: 0rem;
    width: 20rem;
    transform: scale(1.25);
  }
}

@media screen and (min-width: 1430px) {
  .étapes {
    width: 20%;
    transform: scale(1.5);
  }
}

.étapes h3, .fa-mobile-alt, .fa-bars, .fa-store {
  height: auto;
  font-size: 1rem;
  padding-right: 1rem;
  font-family: 'robotomedium';
}

.fa-mobile-alt, .fa-bars, .fa-store {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 0.25rem;
}

.petits_cercles {
  background-color: #9356DC;
  color: white;
  font-size: 0.75rem;
  border-radius: 40px 40px 40px 40px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0.5rem;
  margin-right: 0.5rem;
}

.restaurants {
  padding: 1rem;
  padding-bottom: 3rem;
  background-color: #F6F6F6;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 667px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
  }
}

@media screen and (min-width: 1430px) {
  .restaurants {
    justify-content: space-between;
  }
}

.restaurants > h2 {
  margin-bottom: 3rem;
}

@media screen and (min-width: 667px) {
  .restaurants > h2 {
    padding-right: 100%;
    position: relative;
    left: 3%;
    bottom: 1rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 1430px) {
  .restaurants > h2 {
    transform: scale(1.25);
    left: 15%;
    padding-right: 100%;
  }
}

.vignette a {
  text-decoration: none;
  color: black;
  display: flex;
  width: 343px;
  height: 16rem;
  flex-direction: column;
  align-items: flex-end;
}

.vignette {
  transform: scale(1);
  margin-bottom: 1rem;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  background-color: white;
  width: fit-content;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 667px) {
  .vignette {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.vignette__img {
  height: 14rem;
  position: relative;
  display: flex;
  bottom: 3rem;
  margin: 0%;
}

.vignette__img > img {
  width: 100%;
}

.vignette__étiquette {
  width: 5rem;
  height: 2rem;
  font-size: 0.95rem;
  font-family: 'robotomedium', sans-serif;
  color: #2c9c81;
  background-color: #99E2D0;
  position: absolute;
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 1015;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vignette__des {
  width: 100%;
  position: relative;
  bottom: 2.5rem;
}

.nom_et_menu {
  line-height: 0.5rem;
  padding-left: 1rem;
}

.coeur_accueil {
  cursor: pointer;
  position: absolute;
  right: -0.40rem;
  bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.coeur_accueil > img {
  z-index: 1015;
  position: absolute;
}

.coeur_accueil:hover .bloc_couleur {
  background: linear-gradient(-90deg, #9356DC, #FF79DA);
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 1014;
  transform: translateY(-1rem);
  transition: transform 1000ms;
  transform: scaleY(0.95);
  transform-origin: bottom;
  opacity: 100%;
  transition: transform 700ms, opacity 700ms;
}

@keyframes logo_v {
  0% {
    transform: rotate(0deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(1.25);
  }
}

@keyframes apparition_fondu {
  0% {
    transform: translateY(1rem);
    opacity: 0%;
  }
  100% {
    transform: translateY(0rem);
    opacity: 100%;
  }
}

.fa-arrow-left {
  position: relative;
}

.fa-arrow-left:hover {
  cursor: pointer;
}

@media screen and (min-width: 667px) {
  .fa-arrow-left {
    transform: scale(1.5);
    right: 1rem;
  }
}

.main_menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: fit-content;
  background-color: #F6F6F6;
}

@media screen and (min-width: 667px) {
  .main_menus {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 65%;
    margin: auto;
    height: auto;
    z-index: 999;
  }
}

.fond {
  width: auto;
  height: 15rem;
  z-index: 999;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0%;
}

@media screen and (min-width: 667px) {
  .fond {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0%;
    justify-content: center;
    position: relative;
  }
}

.img_fond {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

@media screen and (min-width: 667px) {
  .img_fond {
    width: 70%;
    height: 100%;
  }
}

.liste_menus {
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
}

@media screen and (min-width: 667px) {
  .liste_menus {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: flex-start;
  }
}

.liste_menus > h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 7rem;
  position: relative;
  top: 1rem;
  justify-content: space-between;
}

@media screen and (min-width: 667px) {
  .liste_menus > h2 {
    font-size: 1.5rem;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    right: 0rem;
    border-radius: 20px 20px 20px 20px;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 1430px) {
  .liste_menus > h2 {
    font-size: 2rem;
  }
}

.coeur_menus {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 0rem;
  top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

@media screen and (min-width: 667px) {
  .coeur_menus {
    right: 2rem;
  }
}

.coeur_menus > figure {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: auto;
  height: auto;
}

.coeur_menus > figure > img {
  cursor: pointer;
  display: flex;
  z-index: 1;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  transform: scale(0.65);
}

.coeur_menus:hover .bloc_couleur {
  background: linear-gradient(-90deg, #9356DC, #FF79DA);
  cursor: pointer;
  width: 39%;
  height: 40%;
  top: 1.25rem;
  display: flex;
  z-index: 0;
  transform: translateY(-1rem);
  transition: transform 1000ms;
  transform: scaleY(0.95);
  transform-origin: bottom;
  opacity: 100%;
  transition: transform 700ms, opacity 700ms;
}

.bloc_couleur {
  transform: scaleY(0);
  opacity: 0%;
}

.type_repas > h3 {
  text-transform: uppercase;
  font-family: 'robotothin', sans-serif;
  border-bottom: 3px solid #99E2D0;
  width: 33px;
  height: 7%;
}

.type_repas {
  position: relative;
  bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 667px) {
  .type_repas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
  }
}

@media screen and (min-width: 1430px) {
  .type_repas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }
}

@media screen and (min-width: 667px) {
  .type_repas > h3 {
    margin-right: 80%;
  }
}

article section:nth-child(3) .plat_cache {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  animation: apparition_fondu 1000ms backwards;
  animation-play-state: running;
  animation-delay: 500ms;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 667px) {
  article section:nth-child(3) .plat_cache {
    width: 19.25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

article section:nth-child(4) .plat_cache {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  animation: apparition_fondu 1000ms backwards;
  animation-play-state: running;
  animation-delay: 500ms;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  animation-delay: 1000ms;
}

@media screen and (min-width: 667px) {
  article section:nth-child(4) .plat_cache {
    width: 19.25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

article section:nth-child(5) .plat_cache {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  animation: apparition_fondu 1000ms backwards;
  animation-play-state: running;
  animation-delay: 500ms;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  animation-delay: 1500ms;
}

@media screen and (min-width: 667px) {
  article section:nth-child(5) .plat_cache {
    width: 19.25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.plat_cache {
  margin: 0rem;
}

@media screen and (min-width: 667px) {
  .plat_cache {
    margin: 1rem;
  }
}

.plat {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  height: 3rem;
  overflow: hidden;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.plat__des {
  width: 10rem;
  height: auto;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;
  font-size: 0.85rem;
  transition-duration: 500ms;
}

@media screen and (min-width: 667px) {
  .plat__des {
    flex: 1 0 auto;
  }
}

.plat__prix {
  position: relative;
  top: 0.75rem;
  font-size: 0.85rem;
  font-family: 'robotoblack', sans-serif;
}

.plat__anim {
  width: 3.5rem;
  height: 4.5rem;
  position: relative;
  left: 50%;
  /* remettre à 50% */
  background-color: #99E2D0;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 667px) {
  .plat__anim {
    left: 11%;
    margin-left: 0.5rem;
  }
}

.plat__anim > .fa-check-circle {
  transform: scale(1.25);
  color: white;
}

.plat:hover {
  cursor: pointer;
}

.plat:hover > .plat__des {
  flex: 0.1 0 auto;
  text-overflow: ellipsis;
}

@media screen and (min-width: 667px) {
  .plat:hover > .plat__des {
    flex: 0.17 0 auto;
  }
}

.plat:hover > .plat__prixetanim > .plat__anim > .fa-check-circle {
  animation: logo_v 500ms both;
  animation-timing-function: linear;
}

.plat__prixetanim {
  white-space: nowrap;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  left: 10%;
}

.plat__des h4 {
  display: inline;
  vertical-align: middle;
  height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0%;
}

.plat__des p {
  display: inline;
  vertical-align: middle;
  height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0%;
}

.zone_bouton {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */