@charset "UTF-8";
/*@mixin couleur_coeur_2 ($background) {
    background: $background;
    background: -moz-linear-gradient; 
    background: -webkit-linear-gradient;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}*/
body {
  width: 375px;
  height: auto;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

@media screen and (min-width: 667px) {
  body {
    width: auto;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 667px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 65%;
    margin: auto;
    height: auto;
  }
}

@media screen and (min-width: 667px) {
  article {
    width: 100%;
    height: auto;
  }
}

h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 667px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
  font-family: 'Roboto Medium';
}

h4 {
  font-size: 1rem;
  font-family: 'Roboto Medium';
}

.explore {
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  border-radius: 40px 40px 40px 40px;
  border: none;
  width: 100%;
  font-size: 1.1rem;
  color: white;
  font-family: 'Roboto Medium';
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 3rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.explore--commander {
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.explore:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px black;
          box-shadow: 0px 10px 10px black;
  color: white;
  opacity: 0.5;
}

@media screen and (min-width: 667px) {
  .explore {
    height: 6rem;
    width: 25rem;
    font-size: 1.75rem;
  }
}

.button_commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}

@media screen and (min-width: 667px) {
  .button_commander {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  -webkit-box-shadow: 0rem 1px 5px 0px rgba(41, 41, 41, 0.5);
          box-shadow: 0rem 1px 5px 0px rgba(41, 41, 41, 0.5);
  overflow: hidden;
  width: auto;
  z-index: 999;
  position: relative;
}

@media screen and (min-width: 667px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 3rem;
    height: 3.5rem;
  }
}

header > .gps {
  display: none;
}

@media screen and (min-width: 667px) {
  header > .gps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3rem;
    height: 100%;
  }
}

header a {
  color: black;
}

footer {
  background: #242424;
  width: 100%;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 667px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
  }
}

footer a {
  text-decoration: none;
  color: white;
}

.proposer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
}

@media screen and (min-width: 667px) {
  .proposer {
    height: auto;
  }
}

.devenir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
}

@media screen and (min-width: 667px) {
  .devenir {
    height: auto;
  }
}

.contenu {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 15rem;
  line-height: 0rem;
  margin-left: 1rem;
  position: relative;
  top: 0.5rem;
}

@media screen and (min-width: 667px) {
  .contenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    height: auto;
    margin-right: 1rem;
  }
}

.contenu figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  position: relative;
  bottom: 1rem;
}

@media screen and (min-width: 667px) {
  .contenu figure {
    bottom: 0rem;
  }
}

.titre_footer {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 62%;
}

@media screen and (min-width: 667px) {
  .titre_footer {
    width: auto;
    position: unset;
  }
}

.fa-utensils {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  margin-right: 1rem;
}

.fa-hands-helping {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  margin-right: 0.5rem;
}

footer nav {
  width: 65%;
}

@media screen and (min-width: 667px) {
  footer nav {
    margin-top: 2rem;
  }
}

@-webkit-keyframes remplissage {
  0% {
    height: 0%;
  }
  100% {
    height: 33%;
  }
}

@keyframes remplissage {
  0% {
    height: 0%;
  }
  100% {
    height: 33%;
  }
}

@-webkit-keyframes révélation {
  0% {
    height: 100%;
  }
  33% {
    height: 66%;
  }
  66% {
    height: 33%;
  }
  100% {
    height: 0%;
  }
}

@keyframes révélation {
  0% {
    height: 100%;
  }
  33% {
    height: 66%;
  }
  66% {
    height: 33%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes loader_durée {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  99% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(99999px);
            transform: translateX(99999px);
  }
}

@keyframes loader_durée {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  99% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(99999px);
            transform: translateX(99999px);
  }
}

.animation {
  height: 100%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: white;
  -webkit-animation: loader_durée 1750ms both;
          animation: loader_durée 1750ms both;
}

@media screen and (min-width: 667px) {
  .animation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.animation > .icônes_loader {
  width: 50%;
  opacity: 100%;
  position: absolute;
  z-index: 1002;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation > .icônes_loader > img {
  z-index: 1001;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media screen and (min-width: 667px) {
  .animation > .icônes_loader > img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animation > .icônes_loader > .bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 40%;
  position: absolute;
  z-index: 1000;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media screen and (min-width: 667px) {
  .animation > .icônes_loader > .bloc {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bloc__couleur--green {
  height: 33%;
  background-color: #99E2D0;
}

.bloc__couleur--pink {
  height: 33%;
  background-color: #FF79DA;
}

.bloc__couleur--purple {
  height: 33%;
  background-color: #9356DC;
}

.bloc__couleur--white {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  -webkit-animation: révélation 750ms ease-in-out backwards;
          animation: révélation 750ms ease-in-out backwards;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  z-index: 1001;
}

.gps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  width: 375px;
}

@media screen and (min-width: 667px) {
  .gps {
    display: none;
  }
}

.fa-map-marker-alt {
  height: 20px;
  position: relative;
  right: 0.75rem;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 17rem;
  position: absolute;
  top: 7rem;
}

@media screen and (min-width: 667px) {
  section > h2 {
    top: 3.5rem;
    width: 23rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section_accueil_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  height: auto;
  z-index: 1000;
  padding-bottom: 4rem;
  padding-top: 6rem;
}

@media screen and (min-width: 667px) {
  .section_accueil_1 {
    height: auto;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3rem;
  }
}

.section_accueil_1 p:nth-child(1) {
  font-size: 1.1rem;
  color: rgba(41, 41, 41, 0.75);
}

@media screen and (min-width: 667px) {
  .section_accueil_1 p:nth-child(1) {
    font-size: 1.5rem;
    width: 30rem;
  }
}

button a {
  text-decoration: none;
  color: white;
}

.section_accueil_2 {
  padding: 1rem;
  height: auto;
}

@media screen and (min-width: 667px) {
  .section_accueil_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .section_accueil_2 > h2 {
    padding-right: 80%;
    overflow: hidden;
    position: relative;
    left: 1rem;
  }
}

.étapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: #F6F6F6;
  margin: 1rem;
  border-radius: 25px 25px 25px 25px;
  height: 4rem;
  width: 100%;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.étapes:hover {
  cursor: pointer;
  background-color: rgba(147, 86, 220, 0.15);
}

.étapes:hover .fa-mobile-alt, .étapes:hover .fa-bars, .étapes:hover .fa-store {
  color: #9356dc;
}

@media screen and (min-width: 667px) {
  .étapes {
    width: 20rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.étapes h2, .fa-mobile-alt, .fa-bars, .fa-store {
  height: auto;
  font-size: 1rem;
  padding-right: 1rem;
  font-family: 'Roboto Regular';
}

@media screen and (min-width: 667px) {
  .étapes h2, .fa-mobile-alt, .fa-bars, .fa-store {
    padding-right: 0rem;
  }
}

.fa-mobile-alt, .fa-bars, .fa-store {
  width: 10px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 1rem;
}

@media screen and (min-width: 667px) {
  .fa-mobile-alt, .fa-bars, .fa-store {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.petits_cercles {
  background-color: #9356DC;
  color: white;
  font-size: 0.75rem;
  border-radius: 40px 40px 40px 40px;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 0.5rem;
  margin-right: 0.5rem;
}

.Restaurants {
  padding: 1rem;
  height: auto;
  padding-bottom: 3rem;
  background-color: #F6F6F6;
}

@media screen and (min-width: 667px) {
  .Restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
  }
  .Restaurants > h2 {
    padding-right: 100%;
    overflow: hidden;
  }
}

.vignette a {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 0;
}

@media screen and (min-width: 667px) {
  .vignette a {
    margin: auto;
    width: auto;
    height: auto;
  }
}

.vignette {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-bottom: 1rem;
  border-radius: 20px 20px 20px 20px;
  width: auto;
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 667px) {
  .vignette {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.vignette figure {
  width: 100%;
  height: 14rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 3rem;
  margin: auto;
  /*margin-block-start: 0em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;*/
}

@media screen and (min-width: 667px) {
  .vignette figure {
    width: auto;
  }
}

.vignette__img {
  width: 100%;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 667px) {
  .vignette__img {
    width: auto;
  }
}

.vignette__new {
  width: 5rem;
  height: 2rem;
  font-size: 0.95rem;
  font-family: 'Roboto Medium';
  color: #2c9c81;
  background-color: #99E2D0;
  position: absolute;
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vignette__des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 3.5rem;
}

.nom_et_menu {
  height: 4rem;
  width: 75%;
  line-height: 0.5rem;
  padding-left: 1rem;
}

.coeur_accueil {
  width: 5rem;
  height: 4.5rem;
  position: relative;
  bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 5;
}

.coeur_accueil figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  top: 0.15rem;
  width: 3rem;
  height: 3rem;
}

.coeur_accueil figure > .coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.coeur_accueil:hover .bloc_couleur {
  background: -webkit-gradient(linear, right top, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(-90deg, #9356DC, #FF79DA);
  background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
  /*-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;*/
  width: 38%;
  height: 35%;
  position: absolute;
  top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-transform: scaleY(0.95);
          transform: scaleY(0.95);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 100%;
  -webkit-transition: opacity 700ms, -webkit-transform 700ms;
  transition: opacity 700ms, -webkit-transform 700ms;
  transition: transform 700ms, opacity 700ms;
  transition: transform 700ms, opacity 700ms, -webkit-transform 700ms;
}

.bloc_couleur {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0%;
}

@-webkit-keyframes logo_v {
  0% {
    -webkit-transform: rotate(0deg) scale(1.25);
            transform: rotate(0deg) scale(1.25);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.25);
            transform: rotate(360deg) scale(1.25);
  }
}

@keyframes logo_v {
  0% {
    -webkit-transform: rotate(0deg) scale(1.25);
            transform: rotate(0deg) scale(1.25);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.25);
            transform: rotate(360deg) scale(1.25);
  }
}

@-webkit-keyframes apparition_fondu {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 100%;
  }
}

@keyframes apparition_fondu {
  0% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 100%;
  }
}

.fa-arrow-left:hover {
  cursor: pointer;
}

@media screen and (min-width: 667px) {
  .fa-arrow-left {
    position: relative;
  }
}

.fond {
  width: auto;
  height: 15rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

@media screen and (min-width: 667px) {
  .fond {
    height: 100%;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
  }
}

.img_fond {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 667px) {
  .img_fond {
    width: 100%;
    height: 50%;
  }
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 667px) {
  .titre {
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 2rem;
    border-radius: 20px 20px 20px 20px;
    padding-left: 2rem;
  }
}

.titre > h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5rem;
}

.coeur_menus {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.coeur_menus > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  width: auto;
  height: auto;
}

.coeur_menus > figure > img {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
}

.coeur_menus:hover .bloc_couleur {
  background: -webkit-gradient(linear, right top, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(-90deg, #9356DC, #FF79DA);
  background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
  /*-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;*/
  cursor: pointer;
  width: 39%;
  height: 40%;
  top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-transform: scaleY(0.95);
          transform: scaleY(0.95);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  opacity: 100%;
  -webkit-transition: opacity 700ms, -webkit-transform 700ms;
  transition: opacity 700ms, -webkit-transform 700ms;
  transition: transform 700ms, opacity 700ms;
  transition: transform 700ms, opacity 700ms, -webkit-transform 700ms;
}

.bloc_couleur {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0%;
}

.type_repas > h3 {
  text-transform: uppercase;
  font-family: 'Roboto Thin';
  border-bottom: 3px solid #99E2D0;
  width: 33px;
  height: 7%;
}

.carte {
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  height: auto;
  width: auto;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -3rem;
  position: relative;
  bottom: 3rem;
}

@media screen and (min-width: 667px) {
  .carte {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.type_repas {
  position: relative;
  bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 667px) {
  .type_repas > h3 {
    margin-right: 80%;
  }
}

@media screen and (min-width: 667px) {
  .type_repas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}

.carte article:first-of-type .plat_cache {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  -webkit-animation: apparition_fondu 1000ms backwards;
          animation: apparition_fondu 1000ms backwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 667px) {
  .carte article:first-of-type .plat_cache {
    width: 19.25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.carte article:nth-child(3) .plat_cache {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  -webkit-animation: apparition_fondu 1000ms backwards;
          animation: apparition_fondu 1000ms backwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 667px) {
  .carte article:nth-child(3) .plat_cache {
    width: 19.25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.carte article:nth-child(4) .plat_cache {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
  -webkit-animation: apparition_fondu 1000ms backwards;
          animation: apparition_fondu 1000ms backwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 667px) {
  .carte article:nth-child(4) .plat_cache {
    width: 19.25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.plat {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 3rem;
  overflow: hidden;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  /*&:hover > &__prixetanim {
            animation: validation 500ms both;
        }
        &:not(:hover) > &__prixetanim {
            animation: validation_retour 750ms both;
        }*/
}

.plat__des {
  width: 10rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1rem;
  font-size: 0.85rem;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media screen and (min-width: 667px) {
  .plat__des {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.plat__prix {
  position: relative;
  top: 0.75rem;
  font-size: 0.85rem;
  font-family: 'Roboto Black';
}

.plat__anim {
  width: 3.5rem;
  height: 4.5rem;
  position: relative;
  left: 50%;
  /* remettre à 50% */
  background-color: #99E2D0;
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 667px) {
  .plat__anim {
    left: 11%;
    margin-left: 0.5rem;
  }
}

.plat__anim > .fa-check-circle {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: white;
}

.plat:hover {
  cursor: pointer;
}

.plat:hover > .plat__des {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1 0 auto;
          flex: 0.1 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 667px) {
  .plat:hover > .plat__des {
    -webkit-box-flex: 0.17;
        -ms-flex: 0.17 0 auto;
            flex: 0.17 0 auto;
  }
}

.plat:hover > .plat__prixetanim > .plat__anim > .fa-check-circle {
  -webkit-animation: logo_v 500ms both;
          animation: logo_v 500ms both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.plat__prixetanim {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  left: 10%;
  /*transition-property: position relative;*/
}

.plat__des h4 {
  /*position: relative;
    bottom: 0.25rem;*/
  display: inline;
  vertical-align: middle;
  height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
}

.plat__des p {
  /*position: relative;
    bottom: 0.25rem;*/
  display: inline;
  vertical-align: middle;
  height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-margin-before: 0rem;
          margin-block-start: 0rem;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
}
/*# sourceMappingURL=main.css.map */